.company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  width: 100%;
  margin: 1rem 0rem 0rem 2rem;
}

.img img {
  width: 100%;
}

.company-info {
  width: 100%;
  margin-right: 4rem;
}

.company-info span {
  font-size: 2.5rem;
  font-weight: bold;
}

.company-info span .our {
  color: #ffdc0e;
}

.company-info p {
  font-size: 1.1rem;
}
/* ----------------------------------------------- */

.team {
  display: flex;
  justify-content: center;
}

.team span {
  font-size: 2.5rem;
  font-weight: bold;
  border-bottom: 4px solid #ffdc0e;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  background: #fff;
  max-width: 350px;
  width: 350px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.card-image {
  max-height: 50vh;
  overflow: hidden;
}

.card-image img {
  max-width: 100%;
  height: auto;
  visibility: hidden;
}

.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.team-member {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.21);
  transition: transform 0.3s ease-in-out;
}

.team-member:hover {
  transform: translateY(-10px);
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h3 {
  font-weight: 700;
  margin: 0;
}

.team-member .role {
  color: #888;
  margin-bottom: 10px;
}

.fab {
  font-size: 24px;
  margin: 0 10px;
  color: #000;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none;
}

.team-member:hover .fa {
  transform: scale(1.2);
  color: #007aff;
}
