<div class="company">
    <div class="img">
        <img src="assets/SAFE_DELIVERY.jpg" alt="Food Delivery" />
    </div>
    <div class="company-info">
        <span>Your Fast Lane to <span class="our">Flavorful Feasts</span></span>
        <p>
            Discover the taste of convenience with <b>BiteDash</b> in Kandy! From traditional Sri Lankan flavors to
            international cuisines, <b>BiteDash</b> delivers a delightful array of dishes straight to your doorstep.
            With swift
            and reliable service, enjoy your favorite meals without leaving the comfort of your home. Order now and
            experience the ease of <b>BiteDash</b> in Kandy!
        </p>
    </div>
</div>

<div class="team"><span>OUR TEAM</span></div>
<div class="team-section">
    <div class="team-member">
        <img src="assets/team1.jpeg" alt="Team Member 1">
        <h3>John Doe</h3>
        <p class="role">Founder</p>
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>
    <div class="team-member">
        <img src="assets/team2.jpeg" alt="Team Member 2">
        <h3>Jane Doe</h3>
        <p class="role">Senior Cheff</p>
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>
    <div class="team-member">
        <img src="assets/team3.jpeg" alt="Team Member 3">
        <h3>Jenifer Doe</h3>
        <p class="role">Junior Cheff</p>
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>
</div>