<div class="container">
    <div class="details">
        <app-title title="Register"></app-title>
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <text-input [control]="fc.name" [showErrorsWhen]="isSubmitted" lable="Name"></text-input>
            <text-input [control]="fc.email" [showErrorsWhen]="isSubmitted" lable="Email" type="email"></text-input>
            <text-input [control]="fc.password" [showErrorsWhen]="isSubmitted" lable="Password"
                type="password"></text-input>
            <text-input [control]="fc.confirmPassword" [showErrorsWhen]="isSubmitted" lable="Confirm Password"
                type="password"></text-input>
            <text-input [control]="fc.address" [showErrorsWhen]="isSubmitted" lable="Address"></text-input>
            <default-button text="Register"></default-button>

            <div class="login">
                Already a User? &nbsp;
                <a routerLink="/login" [queryParams]="{returnUrl:returnUrl}">
                    Login Here
                </a>
            </div>
        </form>
    </div>
</div>