<header>
    <div class="container">
        <img class="logo" routerLink="/" src="/assets/logo.png" alt="">
        <nav>
            <ul>
                <li>
                    <a routerLink="/about">About Us</a>
                </li>
                <li>
                    <a routerLink="/contact">Contact Us</a>
                </li>
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">Cart <span>{{cartQuantity}}</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>